<md-dialog aria-label="Add transaction" ng-cloak>
    <form name="myForm">
        <md-toolbar  ng-class="{'md-accent': editTCtrl.type == 'transaction', 'md-warn': editTCtrl.type == 'expenses', 'md-info': editTCtrl.type == 'general'}" class="md-accent">
            <div class="md-toolbar-tools">
                <h2>{{editTCtrl.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="editTCtrl.cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p class="error" ng-if="!editTCtrl.isValid()">* Будь ласка додайте спочатку всі потірбні категорії</p>
                <div layout-gt-xs="row" layout-xs="column" class="md-inline-form">
                    <md-input-container flex-gt-xs="40">
                        <label>Категорія</label>
                        <md-select ng-model="editTCtrl.transaction.category_id">
                            <md-option ng-repeat="category in editTCtrl.categories" ng-class='{"is-child":category.child}' value="{{category.id}}">
                                {{category.name}}
                            </md-option>
                        </md-select>

                    </md-input-container>
                    <md-datepicker ng-model="editTCtrl.transaction.date"></md-datepicker>
                </div>
                <div layout-gt-xs="row" layout-xs="column">
                    <md-input-container flex-gt-xs="100">
                        <label>Сума</label>
                        <input ng-model="editTCtrl.transaction.amount" type="number">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Опис</label>
                        <input ng-model="editTCtrl.transaction.description" type="text">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Рахунок</label>
                        <md-select ng-model="editTCtrl.transaction.account_id">
                            <md-option ng-repeat="account in editTCtrl.accountCategory" value="{{account.id}}">
                                {{account.name}} - {{account.currency_name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button style="margin-right: 20px;" ng-click="editTCtrl.cancel()">
                Відмінити
            </md-button>
            <md-button class="md-primary" layout-align="center end" ng-click="editTCtrl.ok()">
                Зберегти
            </md-button>
            <md-button class="md-primary" layout-align="center end" ng-click="editTCtrl.showDeleteWindow()">
                Видалити
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

